@import "variables";
@import "reset";

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}
.box {
  align-content: center;
  width: 75%;
  align-self: center;
}
.input-box {
  background: url("../assets/bg-shorten-desktop.svg");
  background-color: $tertiary;
  background-size: cover;
  width: 75%;
  height: 120px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -60px;
  // margin-bottom: 190px;
}

form {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  input {
    width: 70%;
    height: 50px;
    border-radius: 10px;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $text-main;
      font-weight: 100;
      font-size: 20px;
      opacity: 40%;
    }
  }
  input[type="text"] {
    color: $text-main;
    font-size: 20px;
    padding: 0 20px;
  }
  button {
    background-color: $primary;
    margin-left: 10px;
    padding: 10px 5%;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bolder;
    border: none;
    cursor: pointer;
    color: #fff;
    &:hover {
      background-color: $hover-primary;
    }
  }
}

.info {
  margin: 100px 0;
  text-align: center;
  h1 {
    margin-bottom: 14px;
  }
}

.url-box {
  // background-color: yellow;
  width: 100%;
  margin-top: 70px;
}
.urls {
  margin-bottom: 10px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $tertiary;
  height: 50px;
  padding: 0 30px;
  border-radius: 10px;
  button {
    background-color: $primary;
    padding: 10px 28px;
    border-radius: 5px;
    margin-left: 15px;
    border: none;
    cursor: pointer;
    color: #fff;
    &:hover {
      background-color: $hover-primary;
    }
  }
  .copied {
    background-color: black;
    color: white;
    padding: 10px 20px;
    &:hover {
      background-color: black;
    }
  }
}
a{
  text-decoration: none;
}
@media all and (max-width: 800px) {
  .input-box {
    margin-top: -37px;
    margin-bottom: 60px;
    height: 190px;
  }
.url-box{
  all: unset;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  .urls{
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    height: 140px;
    //width: 100%;
    justify-content: center;
  }
  .item-1{
    border-radius: 8px 8px 0 0;
    background-color: white;
    //width: 24.9rem;
    width: 112%;
    border-bottom: 1px solid black;
    padding: 10px;
    a{
      color: black;
      font-weight: bold;
    }
  }
  .item-2{
    border-radius: 0 0 8px 8px;
    padding: 10px;
    background-color: white;
    //width: 24.9rem;
    width: 112%;
    display: flex;
    flex-direction: column;
    a{
      color: $primary;
      font-weight: bold;
    }
    button{
      margin-top: 10px;
      //width: 24.9rem;
      width: 100%;
      margin-left: 0;
    }
  }

}


  form {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    input {
      width: 85%;
    }
    button {
      width: 85%;
      margin-left: 2px;
    }
  }
  button {
    height: 50px;
  }
  .info {
    margin-top: 150px;
  } 
}
