* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
  padding: 10px 10%;
  overflow: hidden;
}

.login {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.menu.active {
  display: block;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #f0f1f6;
  background-color: #232027;
  margin-top: 30px;
  padding: 30px 0 50px 0;
  border-radius: 10px;
  display: none;
}

.menu li {
  text-align: center;
  list-style: none;
  font-size: 20px;
  padding: 15px;
  cursor: pointer;
  font-weight: bolder;
  color: #2e2c3a;
}

.menu ul.sign-up {
  margin-top: 10px;
  border-top: 1px white solid;
}

.button {
  border: none;
  color: white;
  background-color: #2bd1d1;
  width: 100%;
  height: 45px;
  border-radius: 25px;
  font-size: 18px;
  font-weight: bolder;
  cursor: pointer;
}

.button:hover {
  background-color: #9be3e2;
  color: #f0f1f6;
  transition: 0.5s;
}

.bars {
  background-color: #999;
  display: inline-block;
  height: 2px;
  width: 23px;
  position: relative;
}

.bars::before,
.bars::after {
  background-color: #999;
  content: "";
  display: inline-block;
  height: 2px;
  width: 23px;
  position: absolute;
}

.bars::before {
  top: 6px;
}

.bars::after {
  top: -6px;
}

.toggle {
  cursor: pointer;
  order: 1;
}

.deets {
  margin-top: 30px;
}

.deets .message {
  text-align: center;
}

.deets h1 {
  font-size: 60px;
  line-height: 60px;
}

.deets p {
  margin-top: 20px;
  font-size: 18px;
  color: #2e2c3a;
  font-weight: 700;
  opacity: 40%;
}

.deets button {
  margin-top: 50px;
  background-color: #2bd1d1;
  color: white;
  font-size: 19px;
  padding: 15px 40px;
  margin-bottom: 150px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.deets button:hover {
  background-color: #9be3e2;
  color: #f0f1f6;
  transition: 0.5s;
}

@media all and (min-width: 900px) {
  nav {
    display: flex;
    width: 100%;
  }
  nav .login {
    display: flex;
    align-items: center;
    align-self: flex-start;
  }
  nav .toggle {
    display: none;
  }
  .menu {
    margin-top: -38px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
  }
  .menu .items {
    margin-top: 10px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
  }
  .menu ul.sign-up {
    display: flex;
    flex-direction: row;
    width: unset;
  }
  .menu li {
    color: #2e2c3a;
    opacity: 40%;
  }
  .menu .button {
    margin-top: 8px;
    margin-left: 10px;
    width: 120px;
    color: #f0f1f6;
  }
  .menu.active {
    display: flex;
    justify-content: space-between;
  }
  .deets {
    display: flex;
    position: relative;
    justify-content: space-between;
  }
  .deets .message {
    order: 1;
    text-align: left;
    width: 500px;
  }
  .deets .message h1 {
    line-height: 65px;
  }
  .deets .illustrator {
    order: 2;
    position: absolute;
    left: 500px;
  }
  header {
    height: 700px;
  }
}
/*# sourceMappingURL=header.css.map */
